
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    padding: 0;
   
}

main {
    margin-top: 20px;
}

header, .hero, .content, .sidebar, footer {
    padding: 15px;
}

header {
    background-color: #2081d1;
}

.hero {
    background-color: #eb2a20;
}

.main {
    display: flex;
    justify-content: center;
    margin-left: 70px;
    margin-right: 70px;
    gap: 10px; /* Espacio entre columnas */
}

.content {
    background-color: #29c029;
    min-width: 300px;
}
.content p{
    margin-bottom: 10px;
}
.sidebar {
    background-color: blue;
    min-width: 250px;
}

footer {
    background-color: #919191;
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: black;
        color: white;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        min-height: 100vh; 
    }
    
    
    
    header, .hero, .content, .sidebar, footer {
        padding: 15px;
    }
    
    header {
        background-color: #2081d1;
    }
    
    .hero {
        background-color: #eb2a20;
    }
    
    .centro {
        display: flex;
        justify-content: center;
        margin: 20px 70px;
        gap: 10px;
    }
    
    .content {
        background-color: #29c029;
        flex: 3;
    }
    
    .content p {
        margin-bottom: 10px;
    }
    
    .sidebar {
        background-color: #6c2ca5;
        flex: 1;
    }
    
    footer {
        background-color: #919191;
        padding: 10px;
    }
}






@media only screen and (min-width: 1200px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: black;
        color: white;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        min-height: 100vh; 
    }
    
    
    
    header, .hero, .content, .sidebar, footer {
        padding: 15px;
    }
    
    header {
        background-color: #2081d1;
    }
    
    .hero {
        background-color: #eb2a20;
    }
    
    .centro {
        display: flex;
        justify-content: center;
        margin: 20px 70px;
        gap: 10px;
    }
    
    .content {
        background-color: #29c029;
        flex: 3;
    }
    
    .content p {
        margin-bottom: 10px;
    }
    
    .sidebar {
        background-color: #6c2ca5;
        flex: 1;
    }
    
    footer {
        background-color: #919191;
        padding: 10px;
    }
}