.mi-div {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    margin: 50px auto;
    transition: background-color 1s, transform 0.5s 1s;
}

.mi-div:hover {
    background-color: #e74c3c;
    transform: scale(1) rotate(45deg);
}