
.ultimas-Coferencia {
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 1200px;
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2); 
}

.ultimas-Coferencia h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}


.Coferencia-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
}


.Coferencia-card {
    background-color: rgba(255, 255, 255, 0.05); 
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Coferencia-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.Coferencia-card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.Coferencia-card h3 {
    text-align: center;
    font-size: 1.5rem;
    margin: 15px;
    color: #fff;
}

