body{
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 600px) {

  #div{
    position: absolute;

    width: 100%;
  }
    #box1 {
      background-color: #02008b; 
    }
    
    #box2 {
      background-color: #2a75ff; 
    }
    
    #box3 {
      background-color: #51b9ff; 
    }
    #prueba1, #prueba2 {
        display: none; 
      }
    #prueba3{
        text-align: center;
    }
  }


  @media only screen and (min-width: 600px) and (max-width: 900px) {
    
    
    div {
  
        position: absolute;
        bottom: 50%;
        width: 100%;
    
    
      display: flex;
      flex-direction: column-reverse;
    

  }

    #box1{
      background-color: #6b230d; 
    }

 
    #box3 {
      background-color: #6b0d6b; 
  }


  #box2 {
    background-color: #6b230d; 

  }


    #prueba1, #prueba3{

      display: none;
    }
  }



@media only screen and (min-width: 900px) and (max-width: 1200px) {
  div{
    position: absolute;
    bottom: 0;
    width: 100%;

}

  #prueba2, #prueba3{

    display: none;
  }

  #box1{
    background-color: rgb(61, 108, 61);

  }
  #box2{
    background-color: rgb(139, 169, 97);
  }

  #box3{
    background-color: rgb(132, 235, 132);
  }
}