body {
    background-color: #5B9EED;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}   

.card {
    background-color: #fff;
    width: 350px;
    border-radius: 8px;
    padding: 20px;
}

.user {
    display: flex;
    align-items: center;
    gap: 15px; 
    padding: 10px 0;
}



.user img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.user .info {
    display: flex;
    flex-direction: column;
}

.user .info .name {
    font-weight: bold;
    font-size: 16px;
}

.user .info .direccion {
    color: #aaa;
    font-size: 14px;
}
